<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat with node express and socket io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/app.css"></link>
</head>
<body>
  <div class="container">


<div id="contentWrap" class="row">
    <div id="chatWrap" class="col-xs-8 col-md-6">
      <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Simple Chat</h3>
      </div>
      <div class="panel-body">
        <div class="clearfix">
            <div id="chat"></div>
          </div>
        </div>
          <div class="panel-footer">
           <form id="send-message" class="form-inline">
              <div class="form-group">
                <input size="50%" id="message" class="form-control"></input>
            </div>
             <button type="submit" class="btn btn-primary">Send</button>
           </form>
        </div> <!-- panel footer -->


         </div>
      </div>
      <div  class="col-x4 col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Online User
            <span class="badge pull-right">
              <div id="ttlUser"></div>
            </span>
            </h3>
        </div>
        <div class="panel-body">
          <div id="users"></div>
        </div>
      </div>
    </div>

</div> <!-- container -->


<!-- Modal -->
<div class="modal fade" id="nickModal" tabindex="-1" role="dialog" aria-labelledby="nickModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enter nickname</h4>
      </div>
      <div class="modal-body">

        <form id="setNick" class="form-inline">
          <div class="form-group">
             <label for="nickname" class="sr-only">Enter a Username:</label>
            <input size="35" type="text" id="nickname" class="form-control" placeholder="Enter a nickname"> </input>
          </div>
            <button type="submit" class="btn btn-primary">Set</button>
        </form>

      </div>
      <div class="modal-footer">
         <div id="nickError"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  jQuery(function($) {
     var socket = io.connect();
     var $messageForm = $('#send-message');
     var $message = $('#message');
     var $chat = $('#chat');
     var $nickForm = $('#setNick');
     var $nick = $('#nickname');
     var $nickError = $('#nickError');
     var $users = $('#users');
     var $ttluser = $('#ttlUser');

     $('#nickModal').modal('show');

     $nickForm.submit(function(e) {
        e.preventDefault();
        var $nickname = strip($nick.val());
        socket.emit('new user', $nickname, function(data) {
            if(data) {
               $('#nickModal').modal('hide');
               $('#contentWrap').show();
            } else {
                $('#nickModal').modal('show');
                $nickError.html('<span class="label label-danger pull-left">Nicknames already taken, try again</span>');
            }
        });
     })

     $messageForm.submit(function(e) {
        e.preventDefault();
        var msg = strip($message.val());
        socket.emit('send message', msg, function(data) {
          //add stuff later
          $chat.append('<span class="label label-danger">' + data + '</span>');
        });
        $message.val('');
     });

     socket.on('username', function(data) {
        var html = "<ul>";
        for(i=0; i < data.length; i++) {
            html += '<li>' + data[i] + '</li>';
        }
        html += '</ul>';
        $users.html(html);
        $ttluser.html(data.length);
     });

     socket.on('new message', function(data) {
        $chat.animate({ scrollTop: $chat.get(0).scrollHeight
}, 1500);
        $chat.append('<span class="msg"><b>' + data.user + ': </b>' + data.msg + '</span><br />');
     });

     socket.on('whisper', function(data) {
        $chat.append('<span class="whisper"><b>' + data.user + ': </b>' + data.msg + '</span><br />');
     });


/**
 * strip tags
*
*
*/

  function strip(html)
  {
    var tmp = document.createElement("DIV");
    tmp.innerHTML = html;
    return tmp.textContent || tmp.innerText;
  }

  });
</script>
</body>
</html>
